html 
    <body style="text-align: center">
        for book in books
            <a href="http://localhost:3000/books/#{book[0]}" style="font-size: 125%"> #{book[1]} </a>
            p #{book[3]}   -   $#{book[2]}
            <br>
    </body>