html 
    <head>
        script(src="/client.js")
    </head>
    <body onload="loadCart()">
        <div id="mainDiv">
        </div>
        p Card Number  
        <input type="text" id="cardNum">
        p CVV 
        <input type="text" id="cvv">
        p Address 
        <input type="text" id="address">
        p Postal Code 
        <input type="text" id="postal">
        p City 
        <input type="text" id="city">
        p Province 
        <input type="text" id="province">
        <div id="submitDiv">
        </div>
    </body>