html 
    body
        <div style="text-align: center; margin-top: 10%">
            h1= "Look Inna Book"
            p= "The One-Stop-Shop For Your Reading Needs"
        </div>
        <div style="margin-top: 5%">
            <a type= "button" style="margin-left: 20%" href="http://localhost:3000/books"> All Books </a>
            <a type= "button" style="margin-left: 25%" href="http://localhost:3000/search"> Search </a>
            <a class= "button" style="margin-left: 25%" href="http://localhost:3000/auth")> Profile </a>
        </div>