html 
    <head>
        script(src="/client.js")
    </head>
    <body>
        p Title 
        <input type="text" id="title">
        <br>
        <button type="button" value="search" onclick="searchTitle()">Search</button>
        p Author 
        <input type="text" id="author">
        <br>
        <button type="button" value="search" onclick="searchAuthor()">Search</button>
        p Genre 
        <input type="text" id="genre">
        <br>
        <button type="button" value="search" onclick="searchGenre()">Search</button>
        p ID 
        <input type="text" id="id">
        <br>
        <button type="button" value="search" onclick="searchID()">Search</button>
        <br><br>
        <div id="result" style="text-align: center">
    </body>