html 
    <head>
        script(src="/client.js")
    </head>
    <body>
        <input type="text" id="trackingText"> 
        <button type="button" value="Track" onclick="track()">Track</button>
        <div>
            h3 Order
            <p id="bookTitle">
            <br>
            h3 Shipping Info 
            <p id="address">
            <p id="postal">
            <p id="sendProv">
            <p id="sendCity">
            <br>
            h3 Shipped From 
            <p id="facility">
            <p id="trucknum">
    </body>